<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="https://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background:#cacaca;min-height:100%"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">...
<html xmlns="https://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background:#cacaca;min-height:100%">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AirportTransfer.com Feedback Request</title>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./../assets/scss/template/new.css">
  </head>
  <body class="body-background">

    <!-- Header Section -->
    <table class="container" align="center">
      <tr>
        <td>
          <table class="row">
            <tr>
              <td class="small-12 large-6 columns">
                <div class="header-wrapper">
                  <!-- Background Image -->
                  <img src="./../assets/img/archive/header-bg.png" alt="Header Background" class="header-background-image" />
                  <!-- Overlay for better text visibility -->
                  <div class="header-overlay"></div>
                  <!-- Logo and Text -->
                  <div class="logo-text-wrapper">
                    <img src="./../assets/img/archive/logo.png" alt="AirportTransfer.com Logo" class="logo" />
                    <h1 class="header-title">Hello [Customer Name],</h1>
                    <p class="header-paragraph">We are thrilled that you chose us <br>and were satisfied with our <br> service!</p>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <!-- Message Section -->
    <table class="container" align="center">
      <tr>
        <td>
          <table class="row">
            <tr>
              <td class="small-12 large-6 columns">
                <div class="message-section">
                  <img src="./../assets/img/archive/content-img.png" alt="Message Box" class="message-box" />
                  <div class="message-text">
                    <p class="message-paragraph">Your feedback and support help us improve our <br> services every day. We kindly ask you to share your <br> thoughts on <b>Tripadvisor and Trustpilot</b> to support us <br> further.</p>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <!-- Feedback Buttons Section -->
    <table class="container" align="center">
      <tr>
        <td>
          <table class="row">
            <tr>
              <td class="small-12 large-6 columns">
                <div class="feedback-section">
                  <p class="feedback-text">You can share your feedback through the links below:</p>
                  <div class="feedback-button-wrapper">
                    <a href="https://www.trustpilot.com" target="_blank" class="trustpilot-button">
                      <img src="./../assets/img/archive/click.svg" alt="Click Icon" class="click-icon" />
                      <span class="separator">|</span>
                      <img src="./../assets/img/archive/Trustpilot_Logo.png" alt="Trustpilot Logo" class="trustpilot-logo" />
                    </a>
                  </div>

                  <div class="feedback-button-wrapper">
                    <a href="https://www.tripadvisor.com" target="_blank" class="tripadvisor-button">
                      <img src="./../assets/img/archive/click.svg" alt="Click Icon" class="click-icon" />
                      <span class="separator">|</span>
                      <img src="./../assets/img/archive/TripAdvisor_Logo.png" alt="Tripadvisor Logo" class="tripadvisor-logo" />
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <!-- Thanks Section -->
    <table class="container" align="center">
      <tr>
        <td>
          <table class="row">
            <tr>
              <td class="small=12 large=6 columns">
                <div class="thanks-section">
                  <p class="attention">Thank you in advance for your time and attention.</p>
                  <p class="attention">We look forward to welcoming you again on your next journey!</p>
                  <p class="attention">Best regards,</p>
                  <p class="at-slogan">The AirportTransfer.com Team <br> Customer Satisfaction is Our Priority</p>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <!-- Footer Section -->
    <table class="container" align="center">
      <tr>
        <td>
          <table class="row">
            <tr>
              <td class="small-12 large-6 columns">
                <div class="footer-img">
                  <img src="./../assets/img/archive/footer-img.png" alt="Mobile-Phone" class="mobile-phone">
                  <div class="footer-wrapper">
                    <p class="footer-title"><b>Download <br>AirportTransfer.com App <br>and get AT with you to <br>wherever you go!</b></p>
                    <a href="https://apps.apple.com/tr/app/airporttransfer-com/id6450605612?l=tr"><img src="./../assets/img/archive/appstore.png" alt="Download AirportTransfer.com app on App Store" class="appstore-logo" /></a>
                    <a href="https://play.google.com/store/apps/details?id=com.airporttransfer.customer_app&hl=en&pli=1"><img src="./../assets/img/archive/playstore.png" alt="Get AirportTransfer.com app on Google Play" class="playstore-logo" /></a>
                  </div>
                </div>
              </td>
            </tr>
          </table>

          <!-- Social Media Links Section -->
          <table class="row">
            <tr>
              <td class="small-12 large-6 columns">
                <div class="social-media-section">
                  <img src="./../assets/img/archive/footer-logo.png" alt="AirportTransfer.com Logo" class="footer-logo" />
                  <div class="social-icons">
                    <a href="#"><img src="./../assets/img/archive/linkedIn.png" alt="Follow us on LinkedIn" class="social-icon" /></a>
                    <a href="#"><img src="./../assets/img/archive/facebook.png" alt="Like us on Facebook" class="social-icon" /></a>
                    <a href="#"><img src="./../assets/img/archive/instagram.png" alt="Follow us on Instagram" class="social-icon" /></a>
                    <a href="#"><img src="./../assets/img/archive/youtube.png" alt="Subscribe to our YouTube channel" class="social-icon" /></a>
                    <a href="#"><img src="./../assets/img/archive/pinterest.png" alt="Follow us on Pinterest" class="social-icon" /></a>
                  </div>
                  <p class="copyright-text">&copy; 2024 AirportTransfer. All rights reserved.</p>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

  </body>
</html>
